body {
  background-color: #081529;
}

html::-webkit-scrollbar {
  width: .4vw;
}

html::-webkit-scrollbar-track {
  background: #081529;
  height: 5px;
}

html::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#66CCFF, rgb(114, 70, 184));
  border-radius: 5px;
  height: .1vh;
}